.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.search {
  position: relative;
}
.searchIconCover {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 0.75rem;
  align-items: center;
  pointer-events: none;
}

.searchIcon {
  color: #9ca3af;
}

.searchInput {
  max-width: 28rem;
  width: 100%;
  display: block;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border-radius: 0.5rem;
  border: 2px solid #d1d5db;
  outline-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111827;
  background: #edeef0;
}

.button {
  border-radius: 0.5rem;
  background: #066fcf;
  color: white;
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.wrapper {
  background-color: #e7f8fd;
  padding: 2rem 1rem;
}

.mentorGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 640px) {
  .mentorGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}
