.container {
  padding: 2rem;
  background-color: #e7f8fd;
  min-height: 100vh;
}

.info {
  color: #121212;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

.form > * + * {
  margin-top: 1rem;
}

.col2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.col3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.profileText {
  color: #121212;
  font-family: Inter;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profileEmail {
  color: #066fcf;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #111827;
}

.buttonCover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .col2,
  .col3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .profile {
    justify-content: center;
  }
  .button,
  .buttonOutline {
    width: 100%;
  }
  .container {
    padding: 1rem;
  }
}

/* buttons */

.buttonOutline {
  border-radius: 0.5rem;
  border: 1px solid #066fcf;
  color: #066fcf;
  background-color: transparent;
  font-size: 1.125rem;
  padding: 1rem 4rem;
  cursor: pointer;
}

.button {
  border-radius: 0.5rem;
  background: #066fcf;
  color: white;
  font-size: 1.125rem;
  padding: 1rem 4rem;
  cursor: pointer;
}
