.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 50%;
  margin: 0.25rem 0;
}

.wrapper {
  padding: 0.25rem;
}

.wrapper > * + * {
  margin-top: 1rem;
}

.heading {
  color: #121212;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

.icon {
  color: #066fcf;
  margin-right: 0.5rem;
}

.categoryText {
  color: #121212;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  text-transform: capitalize;
}

.paragraph {
  color: #333;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.button {
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: transparent;
  color: #066fcf;
  border: 1px solid #066fcf;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .categoryText {
    font-size: 1.125rem;
  }
}
