.bg {
  overflow: hidden;
  background: rgba(255, 156, 0, 0.15);
}

.title {
  color: #121212;
  font-family: Inter;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 3.125rem;
  text-transform: capitalize;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.padding {
  padding-top: 4rem;
}

.wrapper {
  pointer-events: none;
}

.flex {
  display: flex;
  align-items: center;
}

.imageWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.5rem;
}

.imageGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.imageCover {
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: top;
  border-radius: 0.5rem;
}

.content {
  max-width: 36rem;
}

.content > * + * {
  margin-top: 1rem;
}

.contentCover > * + * {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.heading {
  color: #066fcf;
  font-family: Inter;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 2.125rem;
  text-transform: capitalize;
}

.paragraph {
  color: #333;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
}

@media (min-width: 640px) {
  .wrapperInside {
    top: 0;
    right: 50%;
    transform: translateX(-2rem);
  }
  .padding {
    padding-top: 6rem;
    padding-bottom: 10rem;
  }
  .hidden {
    display: flex;
  }
  .imageWrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  .flex {
    margin-right: 2rem;
  }
  .imageWrapper {
    row-gap: 2rem;
  }
  .padding {
    padding-bottom: 12rem;
  }
}
