.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 50%;
  margin: 0.25rem 0;
}

.imageContainer img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.wrapper {
  padding: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: white;
}

.wrapper > * + * {
  margin-top: 1rem;
}

.cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  color: #066fcf;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1rem;
  text-transform: capitalize;
}

.category {
  border-radius: 0.25rem;
  background: rgba(255, 156, 0, 0.15);
  color: #ff9c00;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1rem;
  text-transform: capitalize;
  padding: 0.5rem 0.5rem;
}

.paragraph {
  color: #333;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
}

.location {
  color: #121212;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-transform: capitalize;
}

.coverLocation {
  display: flex;
  align-items: center;
}

.coverLocation > * + * {
  margin-left: .5rem;
}
