.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sheet {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 1rem;
  background-color: #fff;
  min-height: 100vh;
  max-width: 20rem;
  width: 80%;
  z-index: 10;
  overflow-x: hidden;
}

.ul > * + * {
  margin-top: 2rem;
}

.ul li {
  list-style: none;
  color: #333;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: capitalize;
  font-weight: 500;
}

.link {
  border-radius: 0.5rem;
  background: #066fcf;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: capitalize;
  padding: 1rem 1.25rem;
  transition: linear .2s all;
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menu {
  cursor: pointer;
}

.hidden {
  transform: translateX(100%);
}

@media screen and (min-width: 768px) {
  .container,
  .sheet {
    display: none;
  }
}
